
x-sizing: border-box;}
.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.wrapper > div {
  /*border: 2px solid rgb(233,171,88);*/
  border: 2px solid #6f6f7a;
  border-radius: 5px;
  /*background-color: #E9AB58;*/
  background-color: #6f6f7a;
  padding: 1em;
  color: #e3dede;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1;
  grid-row: 1;
}
.two { 
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}
/*.three {
  grid-column: 1;
  grid-row: 2 / 5;
}*/
.three {
  grid-column: 2;
  grid-row: 1;
}
.four {
  grid-column: 3;
  grid-row: 1;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
/*.six {
  grid-column: 3;
  grid-row: 4;
}*/

.six {
  grid-column: 3;
  grid-row: 1;
}

.metric {
  padding: 10%;
}

.metric svg {
  max-width: 100%;
}

.metric path {
  stroke-width: 75;
  stroke: #ecf0f1;
  fill: none;
}

/*.metric text {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}*/

.metric.participation path.data-arc {
  stroke: #3498db;
}

.metric.participation text {
  fill: #3498db;
}

.metric.completion path.data-arc {
  stroke: #27ae60;
}

.metric.completion text {
  fill: #27ae60;
}

.metric.blocked path.data-arc {
  stroke: #e74c3c;
}

.metric.blocked text {
  fill: #e74c3c;
}

.frame {
  position: absolute;
/*  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	overflow: hidden;
  background: #404556;*/
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#bulb {
	position: absolute;
	z-index: 2;
	/*top: 134px;
	left: 162px;*/
	fill: #FFF35C;
	transition: all .5s ease-in-out;
	cursor: pointer;
	
	&:hover {
		fill: #8C8F99;
	}
}

#glow {
	position: absolute;
	width: 76px;
	height: 76px;
	background: #FFF35C;
	border-radius: 50px;
	box-shadow: 0 0 50px 10px #FFF35C;
/*	top: 134px;
	left: 162px;*/
	transition: all .5s ease-in-out;
}

#bulb:hover ~ #glow {
	opacity: 0;
}

#base {
	position: relative;
	/*top: 233px;
	left: 184px;*/
	top: 100px;
	left: 20px;
	fill: #E5E5E5;
}
