<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>KindBot</title>
		<meta name="description" content="KindBot: Track your grow" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="../static/css/default.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/component.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/flaticon.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/dashboard_style.css" />
		<script src="../static/js/modernizr.custom.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/core.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="clearfix">
				<!--<span>Track your grow</span>-->
				<h1>KindBot</h1>
				<nav>
					<a href="{{ url_for('home') }}" class="bp-icon bp-icon-prev" data-info="back home"><span>back home</span></a>
				        <!--<a href="" class="bp-icon bp-icon-next" data-info="next Blueprint"><span>Next Blueprint</span></a>
					<a href="http://tympanus.net/codrops/?p=15657" class="bp-icon bp-icon-drop" data-info="back to the Codrops article"><span>back to the Codrops article</span></a>-->
					<a href="#" class="bp-icon bp-icon-archive" data-info="Blueprints archive"><span>Download logs</span></a>
				</nav>
			</header>	
			<div class="main">
			    <div class="wrapper">
			      <div class="one">
                                    {% set humid = '.' + hum %}
                                    {% set tempp = '.' + temp %}
				      <div class="metric participation" data-ratio="{{humid}}">
					<svg viewBox="0 0 1000 500">
					    <path d="M 950 500 A 450 450 0 0 0 50 500"></path>
					    <text class='percentage' text-anchor="middle" alignment-baseline="middle" x="500" y="300" font-size="140" font-weight="bold">0%</text>
					    <text class='title' text-anchor="middle" alignment-baseline="middle" x="500" y="450" font-size="90" font-weight="normal">Humidity</text>
					  </svg>
				      </div>

                              </div>
			      <div class="two">
				<canvas id="canvas"></canvas>
                              </div>
			      <div class="three">

				      <div class="metric blocked" data-ratio="{{tempp}}">
					<svg viewBox="0 0 1000 500">
					    <path d="M 950 500 A 450 450 0 0 0 50 500"></path>
					    <text class='degree' text-anchor="middle" alignment-baseline="middle" x="500" y="300" font-size="140" font-weight="bold">0&deg;</text>
					    <text class='title' text-anchor="middle" alignment-baseline="middle" x="500" y="450" font-size="90" font-weight="normal">Temperature (F)</text>
					  </svg>
				      </div>

                              </div>
			      <div class="four">

				<div class="frame">
					<svg width="76px" height="94px" viewBox="0 0 76 94" id="bulb" onclick="void(0);">
						<path d="M76,37.037 C76,59.939 55.6428571,75.427 55.6428571,93.5 L20.3571429,93.5 C20.3571429,75.427 0,59.9335 0,37.037 C0,13.1505 18.9891429,0 37.9782857,0 C56.9891429,0 76,13.167 76,37.037 L76,37.037 Z"></path>
					</svg>
					<div id="glow"></div>
					<svg width="32px" height="33px" viewBox="0 0 32 33" id="base">
						<path d="M29.3333333,0 L2.66666667,0 C1.19466667,0 0,1.232 0,2.75 C0,4.268 1.19466667,5.5 2.66666667,5.5 L29.3333333,5.5 C30.8053333,5.5 32,4.268 32,2.75 C32,1.232 30.8053333,0 29.3333333,0 L29.3333333,0 Z M29.3333333,11 L2.66666667,11 C1.19466667,11 0,12.232 0,13.75 C0,15.268 1.19466667,16.5 2.66666667,16.5 L29.3333333,16.5 C30.8053333,16.5 32,15.268 32,13.75 C32,12.232 30.8053333,11 29.3333333,11 L29.3333333,11 Z M30.6666667,22 L1.33333333,22 L9.072,31.1245 C10.0853333,32.3125 11.552,33 13.088,33 L18.9173333,33 C20.4533333,33 21.9146667,32.3125 22.928,31.1245 L30.6666667,22 L30.6666667,22 Z"></path>
					</svg>
				</div>

                              </div>
			      <!--<div class="five">Five</div>-->
			      <div class="six">
                                 <br>
                                 <h3 style="text-align:right;">Lux Reading</h3>
                                 <p style="text-align:right;">{{ lux }}</p>
                              </div>
			    </div>
			</div>
		</div>

	<script>
        Chart.defaults.global.defaultFontColor = '#fff'
        var randomScalingFactor = function() {
            return Math.round(Math.random() * 100);
        };

        var config = {
            type: 'line',
            data: {
                labels: ["01-01-18", "01-02-18", "01-03-18", "01-04-18", "01-05-18", "01-06-18", "01-07-18"],
                datasets: [{
                    label: "Temperature(F)",
                    backgroundColor: 'rgba(253, 66, 64, 0.5)',
                    borderColor: 'rgba(253, 66, 64, 0.5)',
                    data: [
                        randomScalingFactor(), 
                        randomScalingFactor(), 
                        randomScalingFactor(), 
                        randomScalingFactor(), 
                        randomScalingFactor(), 
                        randomScalingFactor(), 
                        randomScalingFactor()
                    ],
                    fill: false,
                }, {
                    label: "Humidity",
                    fill: false,
                    backgroundColor: 'rgba(75, 162, 255, 0.5)',
                    borderColor: 'rgba(75, 162, 255, 0.5)',
                    data: [
                        randomScalingFactor(), 
                        randomScalingFactor(), 
                        randomScalingFactor(), 
                        randomScalingFactor(), 
                        randomScalingFactor(), 
                        randomScalingFactor(), 
                        randomScalingFactor()
                    ],
                }]
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'Historical Temperature and Humidity'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        },
                        ticks: {
                            min: 0,
                            max: 100,

                            // forces step size to be 5 units
                            stepSize: 10
                        }
                    }]
                }
            }
        };

        window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myLine = new Chart(ctx, config);
        };

	</script>

	<script>
		$(function() {

		  var polar_to_cartesian, svg_circle_arc_path, animate_arc;

		  polar_to_cartesian = function(cx, cy, radius, angle) {
		    var radians;
		    radians = (angle - 90) * Math.PI / 180.0;
		    return [Math.round((cx + (radius * Math.cos(radians))) * 100) / 100, Math.round((cy + (radius * Math.sin(radians))) * 100) / 100];
		  };

		  svg_circle_arc_path = function(x, y, radius, start_angle, end_angle) {
		    var end_xy, start_xy;
		    start_xy = polar_to_cartesian(x, y, radius, end_angle);
		    end_xy = polar_to_cartesian(x, y, radius, start_angle);
		    return "M " + start_xy[0] + " " + start_xy[1] + " A " + radius + " " + radius + " 0 0 0 " + end_xy[0] + " " + end_xy[1];
		  };

		  animate_arc = function(ratio, svg, perc) {
		    var arc, center, radius, startx, starty;
		    arc = svg.path('');
		    center = 500;
		    radius = 450;
		    startx = 0;
		    starty = 450;
		    return Snap.animate(0, ratio, (function(val) {
		      var path;
		      arc.remove();
		      path = svg_circle_arc_path(500, 500, 450, -90, val * 180.0 - 90);
		      arc = svg.path(path);
		      arc.attr({
			class: 'data-arc'
		      });
		      perc.text(Math.round(val * 100) + '%');
		    }), Math.round(2000 * ratio), mina.easeinout);
		  };

		  $('.metric').each(function() {
		    var ratio, svg, perc;
		    ratio = $(this).data('ratio');
		    svg = Snap($(this).find('svg')[0]);
		    perc = $(this).find('text.percentage');
		    animate_arc(ratio, svg, perc);
		  });
		});

		$(function() {

		  var polar_to_cartesian, svg_circle_arc_path, animate_arc_deg;

		  polar_to_cartesian = function(cx, cy, radius, angle) {
		    var radians;
		    radians = (angle - 90) * Math.PI / 180.0;
		    return [Math.round((cx + (radius * Math.cos(radians))) * 100) / 100, Math.round((cy + (radius * Math.sin(radians))) * 100) / 100];
		  };

		  svg_circle_arc_path = function(x, y, radius, start_angle, end_angle) {
		    var end_xy, start_xy;
		    start_xy = polar_to_cartesian(x, y, radius, end_angle);
		    end_xy = polar_to_cartesian(x, y, radius, start_angle);
		    return "M " + start_xy[0] + " " + start_xy[1] + " A " + radius + " " + radius + " 0 0 0 " + end_xy[0] + " " + end_xy[1];
		  };

		  animate_arc_deg = function(ratio, svg, deg) {
		    var arc, center, radius, startx, starty;
		    arc = svg.path('');
		    center = 500;
		    radius = 450;
		    startx = 0;
		    starty = 450;
		    return Snap.animate(0, ratio, (function(val) {
		      var path;
		      arc.remove();
		      path = svg_circle_arc_path(500, 500, 450, -90, val * 180.0 - 90);
		      arc = svg.path(path);
		      arc.attr({
			class: 'data-arc'
		      });
		      deg.text(Math.round(val * 100) + '\xB0');
		    }), Math.round(2000 * ratio), mina.easeinout);
		  };

		  $('.metric').each(function() {
		    var ratio, svg, deg;
		    ratio = $(this).data('ratio');
		    svg = Snap($(this).find('svg')[0]);
		    deg = $(this).find('text.degree');
		    animate_arc_deg(ratio, svg, deg);
		  });
		});

	</script>




	</body>
</html>
